<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Produto</title>
</head>
<body>
    <p>Logado como: <strong>{{ nome_usuario }}</strong> | <a href="/logout">Logout</a></p>
    <a href="{{ url_for('cadastro_produto') }}">&larr; Voltar para a Lista</a>

    <h1>Editar Produto: {{ produto['Nome'] }}</h1>

    <form action="{{ url_for('edit_produto', id=produto['ID_produto']) }}" method="POST">
        <div>
            <label>Nome:</label>
            <input type="text" name="nome" value="{{ produto['Nome'] }}" required>
        </div>
        <div>
            <label>Descrição:</label>
            <input type="text" name="descricao" value="{{ produto['Descricao'] }}">
        </div>
        <div>
            <label>Quantidade:</label>
            <input type="number" name="quantidade" value="{{ produto['Quantidade'] }}" required>
        </div>
         <div>
            <label>Estoque Mínimo:</label>
            <input type="number" name="estoque_minimo" value="{{ produto['Estoque_Minimo'] }}" required>
        </div>
        
        <button type="submit">Salvar Alterações</button>
    </form>
</body>
</html>